CSP
CaseService
ContentBuilder
CoreForecast
CrtAnalyticsDashboard
CrtBase
CrtBulkEmailInC360
CrtC360InUiV2
CrtCampaignDesigner7x
CrtCampaignInC360
CrtCase7x
CrtCaseManagement
CrtCaseManagementApp
CrtCaseService7x
CrtCasesInC360
CrtContract
CrtCore
CrtCustomer360App
CrtCustomer360Mobile
CrtCustomerInfoInCaseMgmt
CrtDeduplication
CrtDesignerTools
CrtDigitalAdsApp
CrtDynamicContent7x
CrtEmailSender
CrtEngagementInC360
CrtEventInC360
CrtInvoice
CrtInvoiceInC360
CrtJunkFilter
CrtLeadOppMgmtApp
CrtMarketingInC360
CrtMatomoConnector
CrtNUI
CrtNextStep
CrtOpportunityInC360
CrtOrderContractInC360
CrtOrderContractMgmtApp
CrtProductivityApp
CrtRecommendedProduct
CrtSLAInC360
CrtSLM7x
CrtSLMITILService7x
CrtSalesInC360
CrtSimilarLead
CrtSmsIntegration
CrtUISwitcher
CrtUIv2
Custom
FeatureToggling
Finesse
FolderTree
IntegrationV2
MLProcessDesigner
MLSimilarCaseSearch
OmnichannelMessaging
OpenIdAuth
Opportunity
PivotTable
RelationshipDesigner
ServiceDesigner
ServiceModel
SsoSettings
SspWorkplace
Tracking
Workplace
XSSProtection
placeholder.txt